body {
  background-image: url("http://s1.bwallpapers.com/wallpapers/2014/03/03/big-wave_015223248.jpg");
  text-align: center;
}

h1 {
  font-family: "Luckiest Guy", monospace;
  font-size: 50px;
  color: lawngreen;
}

h2 {
  font-family: "Luckiest Guy", monospace;
  font-size: 40px;
  color: lawngreen;
}

p {
  font-family: "Wingdings";
  font-size: 20px;
  color: lawngreen;
}

.aaronBrandt {
  float: left;
  width: 200px;
}

.aaronBrandtText {
  float: left;
  font-size: 30px;
  font-family: "Luckiest Guy", monospace;
  color: lawngreen;
}
